html, body, #root {
	height: 100%;
	margin: 0;
	color: white;
	font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
}

.my-device {
	background: linear-gradient(#23223C, #9E5C6C);
}

.sensenet-logo,
.device-image {
	max-width: 50%;
	margin: 0 auto;
}

.connect-button,
.disconnect-button {
	max-width: 50%;
	background: white;
	padding: 8px 64px;
	border: none;
	border-radius: 16px;
}

.line {
	border: 1px solid white;
	height: 1px;
}

.location-title {
	margin: 0 16px;
}

.air-quality-container {
	width: 33vmin;
	height: 33vmin;
	background: #33aedc;
	border-radius: 50%;
}

.air-quality-status,
.air-quality-score,
.air-quality-label {
	margin: 8px 0;
}

.sensor {
	margin: 8px 0;
}

.sensor-bar {
	height: 32px;
	width: 50%;
}

.sensor-bar,
.sensor-value,
.sensor-label {
	margin: 0 8px;
}

.very-high { background: #25243C; }
.high { background: #F05361; }
.medium { background: #FD6D4C; }
.low { background: #3CD1AF; }
.very-low { background: #33AEDC; }
